/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 1, 18, 11:38:22 PM
    Author     : NelsonDelaTorre
*/

 $blue : #0078D7;
 $lightblue : lighten($blue, 10);
 $orange : #e65100;
 $red : #d50000;
 $green : #388e3c;
 $gray : #7a7a7a;
 $white: #ffffff;
 $black : #000;