/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 26, 18, 11:19:10 AM
    Author     : NelsonDelaTorre
*/

#ancPosition{
    -fx-background-color:  #0078D7;    
}

#lblPosition .text{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill:  white;    
}
