/*Login Background Styling*/
#login-background{
    -fx-background-image: url(../images/Login-Wallpaper.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}
#label-forgotpassword{
    -fx-text-fill: #6dc0ff;
}
#label-forgotpassword:hover{
    -fx-text-fill: white;
    -fx-underline: true;
}
.textfield{
    -fx-text-fill: white;
    -fx-prompt-text-fill: #6dc0ff;
    -fx-background-color: transparent;
}

/*Transparent Background*/
#transparent-background{
    -fx-background-image: url(../images/bg-image.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

/*Account Panel Styling*/
#account_icon{
    -fx-fill: #0078D7;
}
#account_button{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #656565;
}
#account_button:hover, #account_button:hover #account_icon{
    -fx-background-color: #0078D7;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-fill: white;
}

/*Modules Styling*/
#module_button{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #868686;
}
#module_icon{
    -fx-fill: #868686;
}
#module_button:hover, #module_button:hover #module_icon{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #0078D7;
    -fx-fill: #0078D7;
}

/*Modules On Start Page Styling*/
#module{
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-color: white;
    -fx-border-radius: 50%;
    -fx-border-width: 10;
}
#module:hover{
    -fx-background-color: #0078D7;
    -fx-background-radius: 50%;
    -fx-border-color: white;
    -fx-border-radius: 50%;
    -fx-border-width: 10;
}

/*ScrollPane Styling*/
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb {
    -fx-background-color: #dadada;
    -fx-effect: dropshadow(one-pass-box, rgb(0.0, 0.0, 0.0, 0.15), 3.0, 0.5, 0.0, 1.0);
    -fx-background-radius: 0;
}

/*TableView Styling*/
.table-view{
    -fx-background-color: white;
    -fx-border-width: 0;
}
.table-view .column-header{
    -fx-background-color: white;
    -fx-size: 40;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #757575;
}
.table-row-cell{
    -fx-cell-size: 40;
    -fx-background-color: transparent;
    -fx-border-color: #D3D3D3; 
    -fx-border-width: .1;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
}
.table-row-cell:selected{
    -fx-cell-size: 40;
    -fx-background-color: #5264AE;
    -fx-border-color: #D3D3D3; 
    -fx-border-width: .1;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
}
.table-cell {
    -fx-alignment: BASELINE_LEFT; 
    -fx-border-color: transparent; 
    -fx-border-width: .1;
}

/*AccordionPane Styling*/
.accordion{
    -fx-background-color: white;
}
.titled-pane:expanded, .titled-pane:collapsed{
    -fx-background-color: transparent;
}
.titled-pane:expanded .title .arrow-button .arrow, .titled-pane:collapsed .title .arrow-button .arrow{
    visibility: false;
}
.titled-pane:collapsed .title, .titled-pane:expanded .title{
    -fx-background-color: white;
    -fx-padding: 10;
}
.titled-pane:collapsed .title .glyph-icon{
    -fx-fill: #b2b2b2;
    -glyph-name: CHEVRON_RIGHT;
}
.titled-pane:expanded .title .glyph-icon{
    -fx-fill: #0078D7;
    -glyph-name: CHEVRON_DOWN;
}
.titled-pane:collapsed .title .text{
    -fx-font-family: Calibri;
    -fx-font-size: 14;
    -fx-fill: #b2b2b2;
}
.titled-pane:expanded .title .text{
    -fx-font-family: Calibri;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-fill: #0078D7;
}
.titled-pane:hover .title .text{
    -fx-font-family: Calibri;
    -fx-font-size: 14;
    -fx-fill: #0078D7;
}
.titled-pane:hover .title .glyph-icon{
    -fx-fill: #0078D7;
}